section.dois {
    background: var(--vinho);
    display: flex;
    justify-content: center;
}

section.dois .caixas {
    width: 230px;
    height: 160px;
    background-color: var(--bege);
    margin: 30px;
    border-radius: 15px;
    padding: 20px;
}

section.dois .caixas img {
    width: 50px;
}

section.dois .caixas p {
  font-family: 'Poppins';
  font-weight: 700;
  width: 200px;
  margin: 10px 0 0 0px;
  color: var(--vinho);
}