section.tres {
    background-color: #0C0C0C;
}
section.tres .bloco-principal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-template-rows: 220px 220px 220px;
    margin: 0px 0 0 260px;
}

section.tres .bloco-principal .bloco img {
    width: 40px;
}
section.tres .head {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #FFF;
}

section.tres .bloco {
    background-color: var(--bege);
    width: 300px;
    height: 210px;
    padding: 20px;
    border-radius: 10px;
    color: #FFF;
    background-color: #0C0C0C;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.tres .bloco h3 {
    font-family: 'Poppins';
    font-size: 15px;
    margin: 10px 0 0 0;
}

section.tres .bloco p {
    font-family: 'Poppins';
}