section.quatro {
    background-color: #0C0C0C;
}

section.quatro .head {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

section.quatro .card {
    width: 470px;
    height: 250px;
    background-color: var(--bege);
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    background-color: #0C0C0C;
    border: 1px solid #fff;
}
section.quatro .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: 270px 270px;
    margin: 0px 0 0 240px;
}

section.quatro .card h3 {
    font-family: 'Poppins';
}

section.quatro .card p {
    font-family: 'Poppins';
}
section.quatro p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #FFF;
}
section.quatro .destaque {
    background-color: rgba(255, 0, 0, 0.57);
    padding: 10px;
    font-family: 'Poppins';
    border-radius: 10px;
    width: 66%;
    margin: 50px 0 0 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bege);
}

section.quatro a {
    font-family: 'Poppins';
    color: var(--black);
    padding: 5px;
    margin: 25px 0 10px 520px;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    background: var(--verdewpp);
    font-weight: 700;
}