section.um {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: -4px;
}
section.um .imagem img {
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
}
section.um .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 800px;
    top: 200px;
    padding: 30px;
    width: 500px;
    height: 600px;
    position: absolute;
}
section.um .texto p {
    color: var(--bege);
    font-family: 'Poppins';
    font-size: 28px;
    margin: 30px 0 0 20px;
    line-height: 1.1;
}
section.um .texto h1 {
    max-width: 600px;
    color: var(--vinho);
    font-family: 'Poppins';
    font-size: 39px;
}

@media screen and (max-width: 1000px) {
    section.um .texto {
        width: 450px;
        margin: 0 0 0 80px;
        padding: 30px;
        position: absolute;
        top: 120px;
        right: 0px;
    }
    section.um .texto p {
        color: var(--bege);
        font-family: 'Poppins';
        font-size: 28px;
        margin: 30px 0 0 30px;
        line-height: 1.1;
        max-width: 400px;
    }
    section.um .texto h1 {
        font-size: 33px;
    }
}